<!DOCTYPE html>
<html>
<head>
	<title>Tickle Ed Sheeran</title>
	<link href="https://fonts.googleapis.com/css?family=Vollkorn+SC" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{{ static_url('prettyEd.css') }}">
	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-108299328-2"></script>
	<script>
  		window.dataLayer = window.dataLayer || [];
  		function gtag(){dataLayer.push(arguments);}
  		gtag('js', new Date());

  		gtag('config', 'UA-108299328-2');
	</script>

</head>
<body>
		<h1 id="title">tickle ed sheeran</h1>
		<img id="sad" onmousemove="beHappy()" src="{{ static_url('angryEd.jpg') }}">
		<img id="smiles" onclick="beSad()" src="{{ static_url('happyEd.jpg') }}" style="display: none">
		<h1 id="byline">created by <a href="http://twitter.com/themcarbone" target="_blank">mike carbone</a> and <a href="http://twitter.com/aaronbartusk" target="_blank">aaron bartuska</a></h1>
		<audio src="{{ static_url('giggles.mp3') }}" id="giggles" type="audio/mp3"></audio>
		
</body>
<script type="text/javascript" src="{{ static_url('work.js') }}"></script>
</html>